{{define "content"}}
<!------------------------------------------------------------------------------------------------------------>
<style>
	input{
		height:5vh;
		width:80%;
		font-size:4vh;
	}
	form{
		width:100vw;
		font-size:4vh;
		text-align:center;
	}
	button{
		height:10vh;
		width:100%;
		font-size:4vh;
	}
	select{
		width: 90vw;
		font-size: 4vh;
	}
	a{
		font-size: 2vh;
	}
</style>
<body style="height:95vh">
	<form enctype='application/json' id="form">
			<select name="spreadsheetId">
				<option value="1zvYlacc1ESyAcBoxuOyLlZ_Uiilz5MA8b21_p_NzWng">
					 ICT Project (Diego)
				</option>
			</select>
			<a id="link" herf="" style="font-size:2h"></a>
			<hr>
			<table width="100%"><tr>
					<td width="20%">日期</td>
					<td width="80%"><input type="date" name="date" id="date"></td>
			</tr></table>
			<hr>
			<table width="100%"><tr>
					<td width="20%">內容</td>
					<td width="80%"><input type="text" name="item"></td>
			</tr></table>
			<hr>
			<table width="100%"><tr>
					<td width="20%">墊錢</td>
					<td width="80%"><input type="text" name="payer"></td>
			</tr></table>
			<hr>
			<table width="100%"><tr>
					<td width="20%">金額</td>
					<td width="80%"><input type="number" name="amount"></td>
			</tr></table>
			<hr>
	</form>
	<table width="100%"><tr>
			<td><button onclick="addOutcome()">支出</button></td>
			<td><button onclick="addIncome()">收入</button></td>
	</tr></table>
	<font>*墊款人為空即公費出款</font><br>
	<font>*墊款人在收入時無效</font>


</body>
<!------------------------------------------------------------------------------------------------------------>
{{end}}
