{{define "content"}}
<!------------------------------------------------------------------------------------------------------------>
<style>
	body{
		text-align:center;
		font-size:3vh;
		padding-top: 50px;
	}
	form{
		font-size:3vh;
		text-align:center;
	}
	select{
		width: 90vw;
	}
	input{
		width:100%;
		height: 6vh
	}
	button.btn{
		height:8vh;
		width:100%;
		font-size:3vh;
	}
	li{
		font-size: 2vh;
	}
	/*
	a{
		font-size:2vh;
		vertical-align: text-top;
	}
	*/
	/******************************************/
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}
	.switch-full{
		width: 100%;
	}
	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}
	input:checked + .slider {
		background-color: #2196F3;
	}
	input:checked + .slider {
		background-color: #2196F3;
	}
	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
	
	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}
	.slider.round:before {
		border-radius: 50%;
	}
</style>
<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="tabelName" href="">Loading...</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul id="sheetlist" class="nav navbar-nav "></ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<br>
		<form enctype='application/json' id="form">	
			<!--
			<select name="spreadsheetId">
				<option value="1zvYlacc1ESyAcBoxuOyLlZ_Uiilz5MA8b21_p_NzWng" gid="0">
					Diego
				</option>	
			</select>
			<a id="link" herf=""></a>
			-->
			<!----------------------------------------------------------------------->
			<div class="row">
				<div class="col-xs-3">日期</div>
				<!--<div class="col-xs-9"><input type="date" width="100%" name="date"></div>-->
				<div class="col-xs-9 form-group">
					<div class='input-group date' id='datetimepicker'>
						<input type='text form-control' class="form-control" name="date" />
						<span class="input-group-addon">
							<span class="glyphicon "></span>
						</span>
					</div>
				</div>
			</div>
			<hr>
			<!----------------------------------------------------------------------->
			<div class="row">
				<div class="col-xs-3">內容</div>
				<div class="col-xs-9"><input class="form-control" type="text" name="item"></div>
			</div>
			<hr>
			<!----------------------------------------------------------------------->
			<div id="optional">
			<div class="row">
				<div class="col-xs-3">墊款</div>
				<div class="col-xs-3">
					<label class="switch">
						<input type="checkbox" class="switch" name="state" id="state">
					  	<span class="slider round"></span>
					</label>
				</div>
				<div class="col-xs-6"><input type="text" name="payer" placeholder="墊款人"></div>
			</div>
			<hr>
			<!----------------------------------------------------------------------->
			<div class="row">
				<div class="col-xs-3">收據</div>
				<div class="col-xs-3">
					<label class="switch">
						<input type="checkbox" class="switch" name="receipt" id="receipt" unchecked>
						<span class="slider round"></span>
					</label>
				</div>
			</div>
			<hr>
			</div>
			<!----------------------------------------------------------------------->
			<div class="row">
				<div class="col-xs-3">金額</div>
				<div class="col-xs-9"><input class="form-control" type="number" name="amount"></div>
			</div>
			<hr>
			<!----------------------------------------------------------------------->
		</form>
		<div class="row">
			<div class="col-xs-6">
				<button id="submit" class="btn btn-success" onclick="submit()">新增支出</button>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-default" onclick="toggleMode()" >切換模式</button>
			<div>
		</div>
	</div>
</body>
<!------------------------------------------------------------------------------------------------------------>
{{end}}
